@charset"utf-8"

.wrapper{
	  font-family: "微軟正黑體", Arial;
      margin: auto;  /*網頁居中設定*/
      width: 1280px;
      }

body{
    background-color:#f5f5f5; 
    width: 100%;
    height: 10000px;
}

.header {
	  background-color: #fff;
      text-align: center;
        }

#site-logo {
    text-align: center;
    padding-top:10px;
}        


.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

.nav {
      background-color: #fff;
      text-align: center;
      padding-top:10px;
        }

.nav ul {
    display: inline-block;
}

#button {
        /*文字設定*/
        font-family: "微軟正黑體", verdana;
        font-weight:200;
        color: #555555;
        font-size: 15px;
        }
     
#button li {    
        /* 讓各個清單元素靠左對齊，由原本的垂直排列變成水平排列，形成水平清單 */    
        float: left;
        /* 去除清單文字前面的小點*/
        list-style-type: none;
        /* 讓清單文字居中對齊 */
        letter-spacing: 1px;
        padding-left: 20px;
        padding-right: 20px;
}
                
#button li a {
   　   display: block;
        color: #555555;
        text-decoration: none;
}

#button li a:hover {
        color: #7CCBDC;
}



